<% include header.ejs%>
<div class="thumbnail">
    <img src="<%= item.imgpath %>" alt="...">
    <div class="caption">
        <h3><%= item.title %></h3>
        <p><%= item.content %></p>
        <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
    </div>
</div>
<% include footer.ejs%>